<html>
  <head>
    <title> <%= title %> </title>
    <meta http-equiv="refresh" content="60; url=http://storichain.io" />
   <link rel="stylesheet" type="text/css" href="css/story_style.css">
   <style>
     #align_con{
       position: relative;
       top:40%;
       left:40%;
     }
   </style>
  </head>
  <!--
  <body>

    <img src="storYchain_test.png" style="width: 1024px; height: 1024px;" usemap="#imagemap">
    <map name="imagemap">
      <area shape="rect" coords="20,20,900,900" href="http://storichain.io" alt="usemap">
    </map>
    <br>
    Hey, this is index page
    redirecting in 60 seconds automatically.

   </body>
   -->
   <!-- <body class=text_align_storYchain>  -->
     <body id="align_con">
        
        <table width="65%">
          <tr><td>
      <h1 class="logoimage_background">
        <img src="bannerlogo.png">
      </h1>
    </td></tr>
      
    
        
            <tr><td><h2>    Are you looking for Storichain? </h2></td></tr>
            <tr><td><h1>The first storytelling's value chain network</h1></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <h3><tr><td>We use storychain with "<span style="color: #ff8298;">i</span>" instead of "y"</td></tr>
            <tr><td>It stands for  </td></tr>
            <tr><td>  - <span style="color: #ff8298;">i</span>nter-creation stories</td></tr>
            <tr><td>  - <span style="color: #ff8298;">i</span>nteractive stories</td></tr>
            <tr><td>  - <span style="color: #ff8298;">i</span>ndustry of stories</td></tr>
            <tr><td>  - <span style="color: #ff8298;">i</span>nvesting stories </td></tr>
            <tr><td>We welcome you to Storichain</td></tr>
            <tr><td>You can create you life time stories and get reward!</td></tr>
            <!-- <tr><td><h1 class="enter_rectangle_oval">Enter</h1></td></tr>
            <tr><td><span id="enter_rectangle_oval">Enter</span></td></tr> -->
            <tr><td>
              <a href="http://storichain.io"><button type="button" class="btn btn-default btn-wrp animated fadeIn topmarbtn custom-btn custom-btn--medium custom-btn--style-2 crsrPointr"  aria-haspopup="true" aria-expanded="false">
                Enter
            </button></a>
          </td></tr>
        </h3>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <tr><td><span style="color: #ffffff;">i</span></td></tr>
            <!----tr><td><span style="color: #ffffff;">iiiiiïīiiiiiiii        iiiiii iiii   iiiiiiiiiiiiiiiiiiiiiiii</span>All right reserved to Storichain</td></tr>  -->
            <tr><td class="copyright_rectangle">All right reserved to Storichain</td></tr>
      </table>
   </body>
</html>
